---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -4

PointerAlignment: Left
ReferenceAlignment: Right

IndentCaseLabels: true

ColumnWidth: 100

AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Stroustrup
...
